@model Product

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="MaSP" type="hidden" />
    <p>Bạn có chắc chắn muốn xóa sản phẩm <strong>@Model.Name</strong>?</p>
    <butto  type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>