<div class="container mt-3">
    <h4>Order result</h4>
    <div class="alert alert-info">
        Cảm ơn bạn đã tin tưởng cửa hàng chúng tôi đơn hàng của bạn sẽ được giao sớm nhất hãy đợi nhé !
        <a href="/customer">Go to shopping</a>
    </div>
</div>