@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <partial name="ProductPartial" />
</div>
<div class="text-center">
    <button id="btnLoadmore" class="btn btn-primary" >LoadMore</button>
</div>
@section Scripts{ 
<script>
    let currentPage = 2;
    $("#btnLoadmore").click(function () {
        loadPage(currentPage);
        currentPage++;
    });
    let loadPage = (page) => {
        $.ajax({
            url: '/Home/LoadMore',
            data: { page: page },
            success: function (data) {
                if (data.length > 0) {
                    $('.products').append(data);
                } else {
                    $('#btnLoadmore').hide();
                }
            }
        });
    }
</script>
}